<!DOCTYPE html>
<html lang="en" ng-controller="tirc-controller">
<head>
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"></meta>
<meta content="width=device-width,height=1, initial-scale=1, user-scalable=no, maximum-scale=1"
	name="viewport"></meta>
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="manifest" href="manifest.json">
<link rel="stylesheet" href="css/styles.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/vendor/jquery.fullscreen.js"></script>

<script src="js/angular-animate.min.js"></script>
<script src="js/angular-touch.min.js"></script>
<script src="js/angular-sanitize.min.js"></script>

<script src="js/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true&language=fi" style=""></script>
<script src="js/app.js"></script>

<script src="js/controller.js"></script>

<script src="js/directive.js"></script>
<script src="js/geolocate.js"></script>

<script src="js/service.js"></script>
<script src="js/filter.js"></script>
<script src="js/model.js"></script>
<script src="js/messageboxDirective.js"></script>

<title handle-focus ng-bind="title"></title>

</head>
<body geolocate current="location">
	<div class="tirc_content", id="tirc_content">
		
		<div class="tirc_header_panel">
			<h1>tIrc</h1>
			
		
			<div class="current_user">
				<a href="#" ng-bind="nick" ng-show="!showDropdown"
					ng-click="showDropdown = true"></a> 
				
				<select style="width: 100%;"
					name="nick_Choose" ng-model="nick"
					ng-options="name for name in names" ng-show="showDropdown"
					ng-change="selectNick();">

				</select>
			</div>

			<div class="current_date">
				<input type="date" ng-model="dt" ng-change="initLogs();"
					placeholder="yyyy-MM-dd" min="2013-01-01" max="2014-12-31" required />
			</div>
		</div>

		<div class="tirc_main_panel_middle">
			<div class="tab_panel">
				<div ng-bind="topic"></div>
			</div>

			<div class="tirc_screen" id="tirc_scr" auto-scroll
				ng-swipe-left="swipeLeft();" ng-swipe-right="swipeRight();">
				<div ng-repeat="text in texts track by $index" class="text-animate"
					ng-class="{me: isMePart(text), own: isOwn(text), joinOrPart: isJoinOrPart(text), quit: isQuit(text), day_changed: isDayChanged(text) , mode: isMode(text)}"
					ng-bind-html="text | format"></div>
			</div>
			<div  class="tirc_info_panel" idle>
				<div ng-repeat="user in users | sortNicks" class="user"
					ng-class="{op: isOp()}">
					<div ng-bind="user.nick" class="nick"></div>
					<div ng-bind="user.idleTime | toTimeunit" class="idle"></div>
				</div>
			</div>
		</div>
		
		
		<messagebox></messagebox>
		
	</div>

</body>
</html>